<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tag(); as tagRef) {
      <div>
        <h2 data-cy="tagDetailsHeading"><span jhiTranslate="cassandrablogApp.cassandrablogTag.detail.title">Tag</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="cassandrablogApp.cassandrablogTag.id">Id</span></dt>
          <dd>
            <span>{{ tagRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="cassandrablogApp.cassandrablogTag.name">Name</span></dt>
          <dd>
            <span>{{ tagRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="cassandrablogApp.cassandrablogTag.description">Description</span></dt>
          <dd>
            <span>{{ tagRef.description }}</span>
          </dd>
        </dl>

        <dl class="row-md jh-entity-details">
          <dt><span>Name Embedding</span></dt>
          <dd>
            <small class="text-muted">
              @if (tagRef.nameEmbedding && tagRef.nameEmbedding.length > 0) {
                [{{ tagRef.nameEmbedding[0] | number: '1.0-5' }}, {{ tagRef.nameEmbedding[1] | number: '1.0-5' }},
                {{ tagRef.nameEmbedding[2] | number: '1.0-5' }}, ...]
              } @else {
                <em>Not generated</em>
              }
            </small>
          </dd>
        </dl>

        <dl class="row-md jh-entity-details">
          <dt><span>Description Embedding</span></dt>
          <dd>
            <small class="text-muted">
              @if (tagRef.descriptionEmbedding && tagRef.descriptionEmbedding.length > 0) {
                [{{ tagRef.descriptionEmbedding[0] | number: '1.0-5' }}, {{ tagRef.descriptionEmbedding[1] | number: '1.0-5' }},
                {{ tagRef.descriptionEmbedding[2] | number: '1.0-5' }}, ...]
              } @else {
                <em>Not generated</em>
              }
            </small>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/cassandrablog/tag', tagRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
