@if (saathratriEntity6) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(saathratriEntity6)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="saathratriEntity6DeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirm delete operation
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-saathratriEntity6-heading"
        jhiTranslate="blogApp.blogSaathratriEntity6.delete.question"
        [translateValues]="{
          organizationId: saathratriEntity6.compositeId.organizationId,
          arrivalDate: saathratriEntity6.compositeId.arrivalDate | convertFromDayjsToDateLong,
          accountNumber: saathratriEntity6.compositeId.accountNumber,
          createdTimeId: saathratriEntity6.compositeId.createdTimeId,
        }"
      >
        Are you sure you want to delete this Saathratri Entity 6?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-saathratriEntity6" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
