<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (landingPageByOrganization(); as landingPageByOrganizationRef) {
      <div>
        <h2 data-cy="landingPageByOrganizationDetailsHeading">
          <span jhiTranslate="blogApp.blogLandingPageByOrganization.detail.title">Landing Page By Organization</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="blogApp.blogLandingPageByOrganization.organizationId">Organization Id</span></dt>
          <dd>
            <span>{{ landingPageByOrganizationRef.organizationId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogLandingPageByOrganization.detailsText">Details Text</span></dt>
          <dd>
            <dl *ngIf="landingPageByOrganizationRef.detailsText">
              <div *ngFor="let item of landingPageByOrganizationRef.detailsText | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt><span jhiTranslate="blogApp.blogLandingPageByOrganization.detailsDecimal">Details Decimal</span></dt>
          <dd>
            <dl *ngIf="landingPageByOrganizationRef.detailsDecimal">
              <div *ngFor="let item of landingPageByOrganizationRef.detailsDecimal | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt><span jhiTranslate="blogApp.blogLandingPageByOrganization.detailsBoolean">Details Boolean</span></dt>
          <dd>
            <dl *ngIf="landingPageByOrganizationRef.detailsBoolean">
              <div *ngFor="let item of landingPageByOrganizationRef.detailsBoolean | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt><span jhiTranslate="blogApp.blogLandingPageByOrganization.detailsBigInt">Details Big Int</span></dt>
          <dd>
            <dl *ngIf="landingPageByOrganizationRef.detailsBigInt">
              <div *ngFor="let item of landingPageByOrganizationRef.detailsBigInt | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value | formatMediumDatetime }}</td>
                </dd>
              </div>
            </dl>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/blog/landing-page-by-organization', landingPageByOrganizationRef.organizationId, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
