<style>
  .saathratri-pdf-badge-link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  .saathratri-pdf-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e53935;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid #1976d2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease,
      transform 0.2s ease;
  }
  .saathratri-pdf-badge:hover {
    border-color: #0d47a1;
    box-shadow: 0 4px 8px rgba(25, 118, 210, 0.4);
    transform: scale(1.05);
  }
  .saathratri-pdf-badge-sm {
    width: 40px;
    height: 52px;
    font-size: 0.6rem;
  }
  .saathratri-pdf-badge-lg {
    width: 60px;
    height: 78px;
    font-size: 0.75rem;
  }
</style>
<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (addOnsAvailableByOrganization(); as addOnsAvailableByOrganizationRef) {
      <div>
        <h2 data-cy="addOnsAvailableByOrganizationDetailsHeading">
          <span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.detail.title"
            >Add Ons Available By Organization</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.organizationId">Organization Id</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.compositeId.organizationId }}</span>
          </dd>
          <dt><span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.entityType">Entity Type</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.compositeId.entityType }}</span>
          </dd>
          <dt><span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.entityId">Entity Id</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.compositeId.entityId }}</span>
          </dd>
          <dt><span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.addOnId">Add On Id</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.compositeId.addOnId }}</span>
          </dd>
          <dt><span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.addOnType">Add On Type</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.addOnType }}</span>
          </dd>
          <dt>
            <span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.addOnDetailsText">Add On Details Text</span>
          </dt>
          <dd>
            <dl *ngIf="addOnsAvailableByOrganizationRef.addOnDetailsText">
              <div *ngFor="let item of addOnsAvailableByOrganizationRef.addOnDetailsText | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt>
            <span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.addOnDetailsDecimal"
              >Add On Details Decimal</span
            >
          </dt>
          <dd>
            <dl *ngIf="addOnsAvailableByOrganizationRef.addOnDetailsDecimal">
              <div *ngFor="let item of addOnsAvailableByOrganizationRef.addOnDetailsDecimal | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt>
            <span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.addOnDetailsBoolean"
              >Add On Details Boolean</span
            >
          </dt>
          <dd>
            <dl *ngIf="addOnsAvailableByOrganizationRef.addOnDetailsBoolean">
              <div *ngFor="let item of addOnsAvailableByOrganizationRef.addOnDetailsBoolean | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt>
            <span jhiTranslate="cassandrablogApp.cassandrablogAddOnsAvailableByOrganization.addOnDetailsBigInt"
              >Add On Details Big Int</span
            >
          </dt>
          <dd>
            <dl *ngIf="addOnsAvailableByOrganizationRef.addOnDetailsBigInt">
              <div *ngFor="let item of addOnsAvailableByOrganizationRef.addOnDetailsBigInt | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value | formatMediumDatetime }}</td>
                </dd>
              </div>
            </dl>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/cassandrablog/add-ons-available-by-organization',
            addOnsAvailableByOrganization()!.compositeId.organizationId,
            addOnsAvailableByOrganization()!.compositeId.entityType,
            addOnsAvailableByOrganization()!.compositeId.entityId,
            addOnsAvailableByOrganization()!.compositeId.addOnId,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
