<div>
  <h2 id="page-heading" data-cy="SaathratriEntity6Heading">
    <span jhiTranslate="blogApp.blogSaathratriEntity6.home.title">Saathratri Entity 6 S</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blogApp.blogSaathratriEntity6.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-saathratri-entity-6"
        [routerLink]="['/blog/saathratri-entity-6/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.blogSaathratriEntity6.home.createLabel">Create a new Saathratri Entity 6</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (saathratriEntity6s?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blogApp.blogSaathratriEntity6.home.notFound">No Saathratri Entity 6 S found</span>
    </div>
  }

  @if (saathratriEntity6s && saathratriEntity6s.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="organizationId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.organizationId">Organization Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="arrivalDate">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.arrivalDate">Arrival Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountNumber">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.accountNumber">Account Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdTimeId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.createdTimeId">Created Time Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="departureDate">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.departureDate">Departure Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.customerId">Customer Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerFirstName">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.customerFirstName">Customer First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerLastName">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.customerLastName">Customer Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerUpdatedEmail">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.customerUpdatedEmail">Customer Updated Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerUpdatedPhoneNumber">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.customerUpdatedPhoneNumber">Customer Updated Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerEstimatedArrivalTime">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.customerEstimatedArrivalTime">Customer Estimated Arrival Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tinyUrlShortCode">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.tinyUrlShortCode">Tiny Url Short Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsText">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.addOnDetailsText">Add On Details Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsDecimal">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.addOnDetailsDecimal">Add On Details Decimal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsBoolean">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.addOnDetailsBoolean">Add On Details Boolean</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsBigInt">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogSaathratriEntity6.addOnDetailsBigInt">Add On Details Big Int</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (saathratriEntity6 of saathratriEntity6s; track trackCompositeId) {
            <tr data-cy="entityTable">
              <td>{{ saathratriEntity6!.compositeId.organizationId }}</td>

              <td>{{ saathratriEntity6!.compositeId.arrivalDate | formatMediumDate }}</td>

              <td>{{ saathratriEntity6!.compositeId.accountNumber }}</td>

              <td>{{ saathratriEntity6!.compositeId.createdTimeId }}</td>

              <td>{{ saathratriEntity6.departureDate | formatMediumDate }}</td>
              <td>{{ saathratriEntity6.customerId }}</td>
              <td>{{ saathratriEntity6.customerFirstName }}</td>
              <td>{{ saathratriEntity6.customerLastName }}</td>
              <td>{{ saathratriEntity6.customerUpdatedEmail }}</td>
              <td>{{ saathratriEntity6.customerUpdatedPhoneNumber }}</td>
              <td>{{ saathratriEntity6.customerEstimatedArrivalTime }}</td>
              <td>{{ saathratriEntity6.tinyUrlShortCode }}</td>
              <td>
                <div *ngFor="let item of saathratriEntity6.addOnDetailsText | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of saathratriEntity6.addOnDetailsDecimal | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of saathratriEntity6.addOnDetailsBoolean | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of saathratriEntity6.addOnDetailsBigInt | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value | formatMediumDatetime }}</td>
                  </dd>
                </div>
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/blog/saathratri-entity-6',
                      saathratriEntity6!.compositeId.organizationId,
                      saathratriEntity6!.compositeId.arrivalDate | convertFromDayjsToDateLong,
                      saathratriEntity6!.compositeId.accountNumber,
                      saathratriEntity6!.compositeId.createdTimeId,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>
                  <a
                    [routerLink]="[
                      '/blog/saathratri-entity-6',
                      saathratriEntity6!.compositeId.organizationId,
                      saathratriEntity6!.compositeId.arrivalDate | convertFromDayjsToDateLong,
                      saathratriEntity6!.compositeId.accountNumber,
                      saathratriEntity6!.compositeId.createdTimeId,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(saathratriEntity6)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
