<div>
  <h2 id="page-heading" data-cy="AddOnsAvailableByOrganizationHeading">
    <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.home.title">Add Ons Available By Organizations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-add-ons-available-by-organization"
        [routerLink]="['/blog/add-ons-available-by-organization/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.home.createLabel"
          >Create a new Add Ons Available By Organization</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (addOnsAvailableByOrganizations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.home.notFound">No Add Ons Available By Organizations found</span>
    </div>
  }

  @if (addOnsAvailableByOrganizations && addOnsAvailableByOrganizations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="organizationId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.organizationId">Organization Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entityType">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.entityType">Entity Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entityId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.entityId">Entity Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnId">Add On Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnType">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnType">Add On Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsText">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnDetailsText">Add On Details Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsDecimal">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnDetailsDecimal">Add On Details Decimal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsBoolean">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnDetailsBoolean">Add On Details Boolean</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsBigInt">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnDetailsBigInt">Add On Details Big Int</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (addOnsAvailableByOrganization of addOnsAvailableByOrganizations; track trackCompositeId) {
            <tr data-cy="entityTable">
              <td>{{ addOnsAvailableByOrganization!.compositeId.organizationId }}</td>

              <td>{{ addOnsAvailableByOrganization!.compositeId.entityType }}</td>

              <td>{{ addOnsAvailableByOrganization!.compositeId.entityId }}</td>

              <td>{{ addOnsAvailableByOrganization!.compositeId.addOnId }}</td>

              <td>{{ addOnsAvailableByOrganization.addOnType }}</td>
              <td>
                <div *ngFor="let item of addOnsAvailableByOrganization.addOnDetailsText | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of addOnsAvailableByOrganization.addOnDetailsDecimal | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of addOnsAvailableByOrganization.addOnDetailsBoolean | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of addOnsAvailableByOrganization.addOnDetailsBigInt | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value | formatMediumDatetime }}</td>
                  </dd>
                </div>
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/blog/add-ons-available-by-organization',
                      addOnsAvailableByOrganization!.compositeId.organizationId,
                      addOnsAvailableByOrganization!.compositeId.entityType,
                      addOnsAvailableByOrganization!.compositeId.entityId,
                      addOnsAvailableByOrganization!.compositeId.addOnId,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>
                  <a
                    [routerLink]="[
                      '/blog/add-ons-available-by-organization',
                      addOnsAvailableByOrganization!.compositeId.organizationId,
                      addOnsAvailableByOrganization!.compositeId.entityType,
                      addOnsAvailableByOrganization!.compositeId.entityId,
                      addOnsAvailableByOrganization!.compositeId.addOnId,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(addOnsAvailableByOrganization)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
