@if (setEntityByOrganization) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(setEntityByOrganization.organizationId!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="setEntityByOrganizationDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirm delete operation
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-setEntityByOrganization-heading"
        jhiTranslate="blogApp.blogSetEntityByOrganization.delete.question"
        [translateValues]="{ id: setEntityByOrganization.organizationId }"
      >
        Are you sure you want to delete Set Entity By Organization {{ setEntityByOrganization.organizationId }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-setEntityByOrganization" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
