<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-landing-page-by-organization-heading"
        data-cy="LandingPageByOrganizationCreateUpdateHeading"
        jhiTranslate="blogApp.blogLandingPageByOrganization.home.createOrEditLabel"
      >
        Create or edit a Landing Page By Organization
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_organizationId" jhiTranslate="blogApp.blogLandingPageByOrganization.organizationId"
            >Organization Id</label
          >
          <input
            type="text"
            class="form-control"
            name="organizationId"
            id="field_organizationId"
            data-cy="organizationId"
            formControlName="organizationId"
          />
          <button *ngIf="isNew" type="button" class="btn btn-primary" (click)="generateUUID('organizationId')">Generate</button>
          <button
            *ngIf="isNew"
            type="button"
            class="btn btn-danger"
            (click)="reset('organizationId')"
            [disabled]="isResetDisabled['organizationId']"
          >
            Reset
          </button>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailsText" jhiTranslate="blogApp.blogLandingPageByOrganization.detailsText"
            >Details Text</label
          >
          <app-map-string-component [inputFields]="inputFieldsDetailsText" (dataChange)="handleDetailsTextInputChange($event)">
          </app-map-string-component>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailsDecimal" jhiTranslate="blogApp.blogLandingPageByOrganization.detailsDecimal"
            >Details Decimal</label
          >
          <app-map-number-component [inputFields]="inputFieldsDetailsDecimal" (dataChange)="handleDetailsDecimalInputChange($event)">
          </app-map-number-component>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailsBoolean" jhiTranslate="blogApp.blogLandingPageByOrganization.detailsBoolean"
            >Details Boolean</label
          >
          <app-map-boolean-component [inputFields]="inputFieldsDetailsBoolean" (dataChange)="handleDetailsBooleanInputChange($event)">
          </app-map-boolean-component>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailsBigInt" jhiTranslate="blogApp.blogLandingPageByOrganization.detailsBigInt"
            >Details Big Int</label
          >
          <app-map-dayjs-component [inputFields]="inputFieldsDetailsBigInt" (dataChange)="handleDetailsBigIntInputChange($event)">
          </app-map-dayjs-component>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving || !areAllDateTimeFieldsValid"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
