<div>
  <h2 id="page-heading" data-cy="PostHeading">
    <span jhiTranslate="blogApp.blogPost.home.title">Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blogApp.blogPost.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-post"
        [routerLink]="['/blog/post/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.blogPost.home.createLabel">Create a new Post</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (posts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blogApp.blogPost.home.notFound">No Posts found</span>
    </div>
  }

  @if (posts && posts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogPost.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addedDateTime">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogPost.addedDateTime">Added Date Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="postId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogPost.postId">Post Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogPost.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogPost.content">Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="publishedDateTime">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogPost.publishedDateTime">Published Date Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sentDate">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogPost.sentDate">Sent Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (post of posts; track trackCompositeId) {
            <tr data-cy="entityTable">
              <td>{{ post!.compositeId.createdDate | formatMediumDate }}</td>

              <td>{{ post!.compositeId.addedDateTime | formatMediumDatetime }}</td>

              <td>{{ post!.compositeId.postId }}</td>

              <td>{{ post.title }}</td>
              <td>{{ post.content }}</td>
              <td>{{ post.publishedDateTime | formatMediumDatetime }}</td>
              <td>{{ post.sentDate | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/blog/post',
                      post!.compositeId.createdDate | convertFromDayjsToDateLong,
                      post!.compositeId.addedDateTime | convertFromDayjsToDateLong,
                      post!.compositeId.postId,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>
                  <a
                    [routerLink]="[
                      '/blog/post',
                      post!.compositeId.createdDate | convertFromDayjsToDateLong,
                      post!.compositeId.addedDateTime | convertFromDayjsToDateLong,
                      post!.compositeId.postId,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(post)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
