<div>
  <h2 id="page-heading" data-cy="AddOnsSelectedByOrganizationHeading">
    <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.home.title">Add Ons Selected By Organizations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-add-ons-selected-by-organization"
        [routerLink]="['/blog/add-ons-selected-by-organization/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.home.createLabel">Create a new Add Ons Selected By Organization</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (addOnsSelectedByOrganizations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.home.notFound">No Add Ons Selected By Organizations found</span>
    </div>
  }

  @if (addOnsSelectedByOrganizations && addOnsSelectedByOrganizations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState()" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="organizationId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.organizationId">Organization Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="arrivalDate">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.arrivalDate">Arrival Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountNumber">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.accountNumber">Account Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdTimeId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.createdTimeId">Created Time Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="departureDate">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.departureDate">Departure Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerId">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.customerId">Customer Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerFirstName">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.customerFirstName">Customer First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerLastName">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.customerLastName">Customer Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerUpdatedEmail">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.customerUpdatedEmail">Customer Updated Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerUpdatedPhoneNumber">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.customerUpdatedPhoneNumber"
                  >Customer Updated Phone Number</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerEstimatedArrivalTime">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.customerEstimatedArrivalTime"
                  >Customer Estimated Arrival Time</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tinyUrlShortCode">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.tinyUrlShortCode">Tiny Url Short Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsText">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.addOnDetailsText">Add On Details Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsDecimal">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.addOnDetailsDecimal">Add On Details Decimal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsBoolean">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.addOnDetailsBoolean">Add On Details Boolean</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addOnDetailsBigInt">
              <div class="d-flex">
                <span jhiTranslate="blogApp.blogAddOnsSelectedByOrganization.addOnDetailsBigInt">Add On Details Big Int</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (addOnsSelectedByOrganization of addOnsSelectedByOrganizations; track trackCompositeId) {
            <tr data-cy="entityTable">
              <td>{{ addOnsSelectedByOrganization!.compositeId.organizationId }}</td>

              <td>{{ addOnsSelectedByOrganization!.compositeId.arrivalDate | formatMediumDate }}</td>

              <td>{{ addOnsSelectedByOrganization!.compositeId.accountNumber }}</td>

              <td>{{ addOnsSelectedByOrganization!.compositeId.createdTimeId }}</td>

              <td>{{ addOnsSelectedByOrganization.departureDate | formatMediumDate }}</td>
              <td>{{ addOnsSelectedByOrganization.customerId }}</td>
              <td>{{ addOnsSelectedByOrganization.customerFirstName }}</td>
              <td>{{ addOnsSelectedByOrganization.customerLastName }}</td>
              <td>{{ addOnsSelectedByOrganization.customerUpdatedEmail }}</td>
              <td>{{ addOnsSelectedByOrganization.customerUpdatedPhoneNumber }}</td>
              <td>{{ addOnsSelectedByOrganization.customerEstimatedArrivalTime }}</td>
              <td>{{ addOnsSelectedByOrganization.tinyUrlShortCode }}</td>
              <td>
                <div *ngFor="let item of addOnsSelectedByOrganization.addOnDetailsText | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of addOnsSelectedByOrganization.addOnDetailsDecimal | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of addOnsSelectedByOrganization.addOnDetailsBoolean | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value }}</td>
                  </dd>
                </div>
              </td>
              <td>
                <div *ngFor="let item of addOnsSelectedByOrganization.addOnDetailsBigInt | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value | formatMediumDatetime }}</td>
                  </dd>
                </div>
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/blog/add-ons-selected-by-organization',
                      addOnsSelectedByOrganization!.compositeId.organizationId,
                      addOnsSelectedByOrganization!.compositeId.arrivalDate | convertFromDayjsToDateLong,
                      addOnsSelectedByOrganization!.compositeId.accountNumber,
                      addOnsSelectedByOrganization!.compositeId.createdTimeId,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>
                  <a
                    [routerLink]="[
                      '/blog/add-ons-selected-by-organization',
                      addOnsSelectedByOrganization!.compositeId.organizationId,
                      addOnsSelectedByOrganization!.compositeId.arrivalDate | convertFromDayjsToDateLong,
                      addOnsSelectedByOrganization!.compositeId.accountNumber,
                      addOnsSelectedByOrganization!.compositeId.createdTimeId,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(addOnsSelectedByOrganization)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
