<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (post(); as postRef) {
      <div>
        <h2 data-cy="postDetailsHeading"><span jhiTranslate="blogApp.blogPost.detail.title">Post</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="blogApp.blogPost.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ postRef.compositeId.createdDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogPost.addedDateTime">Added Date Time</span></dt>
          <dd>
            <span>{{ postRef.compositeId.addedDateTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogPost.postId">Post Id</span></dt>
          <dd>
            <span>{{ postRef.compositeId.postId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogPost.title">Title</span></dt>
          <dd>
            <span>{{ postRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogPost.content">Content</span></dt>
          <dd>
            <span>{{ postRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogPost.publishedDateTime">Published Date Time</span></dt>
          <dd>
            <td>{{ postRef.publishedDateTime | formatMediumDatetime }}</td>
          </dd>
          <dt><span jhiTranslate="blogApp.blogPost.sentDate">Sent Date</span></dt>
          <dd>
            <td>{{ postRef.sentDate | formatMediumDate }}</td>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/blog/post',
            post()!.compositeId.createdDate | convertFromDayjsToDateLong,
            post()!.compositeId.addedDateTime | convertFromDayjsToDateLong,
            post()!.compositeId.postId,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
