<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (saathratriEntity(); as saathratriEntityRef) {
      <div>
        <h2 data-cy="saathratriEntityDetailsHeading">
          <span jhiTranslate="blogApp.blogSaathratriEntity.detail.title">Saathratri Entity</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity.entityId">Entity Id</span></dt>
          <dd>
            <span>{{ saathratriEntityRef.entityId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity.entityName">Entity Name</span></dt>
          <dd>
            <span>{{ saathratriEntityRef.entityName }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity.entityDescription">Entity Description</span></dt>
          <dd>
            <span>{{ saathratriEntityRef.entityDescription }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity.entityCost">Entity Cost</span></dt>
          <dd>
            <span>{{ saathratriEntityRef.entityCost }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity.createdId">Created Id</span></dt>
          <dd>
            <span>{{ saathratriEntityRef.createdId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity.createdTimeId">Created Time Id</span></dt>
          <dd>
            <span>{{ saathratriEntityRef.createdTimeId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/blog/saathratri-entity', saathratriEntityRef.entityId, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
