<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (saathratriEntity4(); as saathratriEntity4Ref) {
      <div>
        <h2 data-cy="saathratriEntity4DetailsHeading">
          <span jhiTranslate="blogApp.blogSaathratriEntity4.detail.title">Saathratri Entity 4</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity4.organizationId">Organization Id</span></dt>
          <dd>
            <span>{{ saathratriEntity4Ref.compositeId.organizationId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity4.attributeKey">Attribute Key</span></dt>
          <dd>
            <span>{{ saathratriEntity4Ref.compositeId.attributeKey }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity4.attributeValue">Attribute Value</span></dt>
          <dd>
            <span>{{ saathratriEntity4Ref.attributeValue }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/blog/saathratri-entity-4',
            saathratriEntity4()!.compositeId.organizationId,
            saathratriEntity4()!.compositeId.attributeKey,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
