<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (saathratriEntity2(); as saathratriEntity2Ref) {
      <div>
        <h2 data-cy="saathratriEntity2DetailsHeading">
          <span jhiTranslate="blogApp.blogSaathratriEntity2.detail.title">Saathratri Entity 2</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity2.entityTypeId">Entity Type Id</span></dt>
          <dd>
            <span>{{ saathratriEntity2Ref.compositeId.entityTypeId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity2.yearOfDateAdded">Year Of Date Added</span></dt>
          <dd>
            <span>{{ saathratriEntity2Ref.compositeId.yearOfDateAdded }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity2.arrivalDate">Arrival Date</span></dt>
          <dd>
            <span>{{ saathratriEntity2Ref.compositeId.arrivalDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity2.blogId">Blog Id</span></dt>
          <dd>
            <span>{{ saathratriEntity2Ref.compositeId.blogId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity2.entityName">Entity Name</span></dt>
          <dd>
            <span>{{ saathratriEntity2Ref.entityName }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity2.entityDescription">Entity Description</span></dt>
          <dd>
            <span>{{ saathratriEntity2Ref.entityDescription }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity2.entityCost">Entity Cost</span></dt>
          <dd>
            <span>{{ saathratriEntity2Ref.entityCost }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogSaathratriEntity2.departureDate">Departure Date</span></dt>
          <dd>
            <td>{{ saathratriEntity2Ref.departureDate | formatMediumDate }}</td>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/blog/saathratri-entity-2',
            saathratriEntity2()!.compositeId.entityTypeId,
            saathratriEntity2()!.compositeId.yearOfDateAdded,
            saathratriEntity2()!.compositeId.arrivalDate | convertFromDayjsToDateLong,
            saathratriEntity2()!.compositeId.blogId,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
