<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tajUser(); as tajUserRef) {
      <div>
        <h2 data-cy="tajUserDetailsHeading"><span jhiTranslate="blogApp.blogTajUser.detail.title">Taj User</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="blogApp.blogTajUser.id">Id</span></dt>
          <dd>
            <span>{{ tajUserRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogTajUser.login">Login</span></dt>
          <dd>
            <span>{{ tajUserRef.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/blog/taj-user', tajUserRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
