@if (saathratriEntity4) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(saathratriEntity4)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="saathratriEntity4DeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirm delete operation
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-saathratriEntity4-heading"
        jhiTranslate="blogApp.blogSaathratriEntity4.delete.question"
        [translateValues]="{
          organizationId: saathratriEntity4.compositeId.organizationId,
          attributeKey: saathratriEntity4.compositeId.attributeKey,
        }"
      >
        Are you sure you want to delete this Saathratri Entity 4?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-saathratriEntity4" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
