<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (addOnsAvailableByOrganization(); as addOnsAvailableByOrganizationRef) {
      <div>
        <h2 data-cy="addOnsAvailableByOrganizationDetailsHeading">
          <span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.detail.title">Add Ons Available By Organization</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.organizationId">Organization Id</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.compositeId.organizationId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.entityType">Entity Type</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.compositeId.entityType }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.entityId">Entity Id</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.compositeId.entityId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnId">Add On Id</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.compositeId.addOnId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnType">Add On Type</span></dt>
          <dd>
            <span>{{ addOnsAvailableByOrganizationRef.addOnType }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnDetailsText">Add On Details Text</span></dt>
          <dd>
            <dl *ngIf="addOnsAvailableByOrganizationRef.addOnDetailsText">
              <div *ngFor="let item of addOnsAvailableByOrganizationRef.addOnDetailsText | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnDetailsDecimal">Add On Details Decimal</span></dt>
          <dd>
            <dl *ngIf="addOnsAvailableByOrganizationRef.addOnDetailsDecimal">
              <div *ngFor="let item of addOnsAvailableByOrganizationRef.addOnDetailsDecimal | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnDetailsBoolean">Add On Details Boolean</span></dt>
          <dd>
            <dl *ngIf="addOnsAvailableByOrganizationRef.addOnDetailsBoolean">
              <div *ngFor="let item of addOnsAvailableByOrganizationRef.addOnDetailsBoolean | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value }}</td>
                </dd>
              </div>
            </dl>
          </dd>
          <dt><span jhiTranslate="blogApp.blogAddOnsAvailableByOrganization.addOnDetailsBigInt">Add On Details Big Int</span></dt>
          <dd>
            <dl *ngIf="addOnsAvailableByOrganizationRef.addOnDetailsBigInt">
              <div *ngFor="let item of addOnsAvailableByOrganizationRef.addOnDetailsBigInt | keyvalue">
                <dt>{{ item.key }}</dt>
                <dd>
                  <td>{{ item.value | formatMediumDatetime }}</td>
                </dd>
              </div>
            </dl>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/blog/add-ons-available-by-organization',
            addOnsAvailableByOrganization()!.compositeId.organizationId,
            addOnsAvailableByOrganization()!.compositeId.entityType,
            addOnsAvailableByOrganization()!.compositeId.entityId,
            addOnsAvailableByOrganization()!.compositeId.addOnId,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
