<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (blog(); as blogRef) {
      <div>
        <h2 data-cy="blogDetailsHeading"><span jhiTranslate="blogApp.blogBlog.detail.title">Blog</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="blogApp.blogBlog.category">Category</span></dt>
          <dd>
            <span>{{ blogRef.compositeId.category }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogBlog.blogId">Blog Id</span></dt>
          <dd>
            <span>{{ blogRef.compositeId.blogId }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogBlog.handle">Handle</span></dt>
          <dd>
            <span>{{ blogRef.handle }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogBlog.content">Content</span></dt>
          <dd>
            <span>{{ blogRef.content }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/blog/blog', blog()!.compositeId.category, blog()!.compositeId.blogId, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
